$color-dark-l: #545454;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$start-screen-gradient-background-left: #5B483A;
$start-screen-gradient-background-right: #262425;

$footer-screen-gradient-background-left: #1A1A1C;
$footer-screen-gradient-background-right: #513D2F;