@use 'abstracts' as *;
footer {
    background: url('./../assets/img/noise_transparent.svg'), radial-gradient(100% 215.42% at 0% 0%, $footer-screen-gradient-background-left 0%, $footer-screen-gradient-background-right 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    .footer-container {
        display: flex;
        justify-content: space-evenly;
        column-gap: 12.5vw;
        align-items: flex-start;
        margin: 40px 0 0 0;
        .footer-text {
            display: flex;
            justify-content: space-between;
            column-gap: 12.5vw;
            .footer-questions {
                margin: 16px -10px 0 0;
                width: 290px;
                h2 {
                    color: $color-light-xl;
                    @include textFont("Tinos");
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45.5px;
                    letter-spacing: 0.11em;
                    text-align: left;
                    margin: 0 0 0 0;
                }
                div {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    margin: 40px 0 0 0;
                    img {
                        margin: 0 20px 0 0;
                    }
                    a {
                        text-decoration: none;
                        color: $color-primary;
                        @include textFont("Tinos");
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0.11em;
                    }
                }
            }
            .footer-visit {
                margin: 16px 0 0 0;
                width: 302px;
                h2 {
                    color: $color-light-xl;
                    @include textFont("Tinos");
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45.5px;
                    letter-spacing: 0.105em;
                    margin: 0 0 0 0;
                }
                div {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    margin: 34px 0 0 0;
                    img {
                        margin: 0 20px 0 0;
                    }
                    a {
                        text-decoration: none;
                        color: $color-primary;
                        @include textFont("Tinos");
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0.10em;
                    }
                }
            }
        }
        @media (max-width: calc($width_tablet + 320px)) {
            flex-direction: column;
            align-items: center;
            margin: 30px 0 0 0;
            .footer-text {
                justify-content: center;
                column-gap: 60px;
                margin: 0 10px 0 0;
                width: auto;
                .footer-questions {
                    max-width: 278px;
                    margin: 0 0 0 0;
                    h2 {
                        display: inline;
                        letter-spacing: 0.105em;
                        margin: 0 0 0 0;
                    }
                    div {
                        margin: 40px 0 0 0;
                    }
                }
                .footer-visit {
                    max-width: 302px;
                    margin: 0 0 0 0;
                    width: auto;
                    div {
                        margin: 33px 0 0 0;
                    }
                }
            }
            img {
                margin: 65px 0 0 0;
            }
        }
        &.pets-page {
            .footer-text{
                margin: 0 0 0 10px;
            }
            img {
                margin: 65px 10px 0 0;
            }
        }
        @media (max-width: calc($width_mobile + 300px)) {
            flex-direction: column;
            align-items: center;
            margin: 30px 0 0 0;
            .footer-text {
                flex-direction: column;
                justify-content: center;
                column-gap: 60px;
                .footer-questions {
                    margin: 0 0 0 10px;
                    h2 {
                        display: block;
                        text-align: center;
                        font-size: 25px;
                        line-height: 32.5px;
                        letter-spacing: 0.1em;
                        margin: 0 0 0 0;
                    }
                    div {
                        justify-content: center;
                        margin: 39px 0 0 0;
                    }
                }
                .footer-visit {
                    margin: 41px 0 0 0;
                    h2 {
                        font-size: 25px;
                        line-height: 32.5px;
                        letter-spacing: 0.099em;
                        text-align: center;
                        margin: 0 0 0 7px;
                    }
                    div {
                        margin: 39px 0 0 0;
                        a {
                            letter-spacing: 0.09em;
                        }
                    }
                }
            }
            img {
                margin: 40px 0 0 0;
                max-width: 260px;
            }
            &.pets-page {
                margin: 31px 0 0 0;
                .footer-text {
                    .footer-questions {
                        margin: 0 0 0 20px;
                    }
                    .footer-visit {
                        h2 {
                            margin: 0 0 0 20px;
                        }
                        div {
                            margin: 39px 0 0 0;
                            a {
                                letter-spacing: 0.06em;
                            }
                        }
                    }
                }
                img {
                    margin: 40px 0 0 0;   
                }
            }
        }
    }
}