@use 'abstracts' as *;
header {
    background: url('./../assets/img/noise_transparent.svg'), radial-gradient(100% 215.42% at 0% 0%, $start-screen-gradient-background-left 0%, $start-screen-gradient-background-right 100%);
    .container {
        display: flex;
        flex-direction: column;
        .nav-panel {
            display: flex;
            justify-content: space-between;
            margin: 30px 0 0 0;
            .logo {
                display: flex;
                flex-direction: column;
                a {
                    text-decoration: none;
                }
                .title {
                    color: $color-primary;
                    @include textFont("Tinos");
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 35.2px;
                    letter-spacing: 0.07em;
                    margin: 0 0 10px 0;
                }
                .subtitle {
                    color: $color-light-xl;
                    @include textFont("Arimo");
                    font-size: 13px;
                    line-height: 14.95px;
                    letter-spacing: 0.1em;
                    margin: 0 0 0 4px;
                }
            }
            .nav-list{
                display: flex;
                list-style: none;
                @include textFont("Arimo");
                letter-spacing: initial;
                padding: 0;
                margin: 16px 2px 0 0;
                transition: 1s;
                .nav-link {
                    text-decoration: none;
                    color: $color-dark-s;
                    font-size: 15px;
                    line-height: 24px;
                    cursor: pointer;
                    margin: 0 0 0 35px;
                    padding: 0 0 4px 0;
                    &:hover {
                        color: $color-light-s;
                    }
                }
                .active-link {
                    color: $color-light-s;
                    border-bottom: 3px $color-primary solid;
                    cursor:auto;
                }
                @media (max-width: 767px) {
                    position: fixed;
                    right: -100%;
                    bottom: 0%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    order: 3;
                    width: 320px;
                    height: 100vh;
                    background-color: $color-dark-3xl;
                    li {
                        margin: 0 0 0 0;
                        padding: 20px;
                        .nav-link {
                            margin: 0 0 0 0;
                            padding: 0 0 0 0;
                        }
                    }
                    &.active-menu {
                        right: 0;
                    }
                }
            }
            .nav-button {
                display: none;
                list-style: none;
                margin: 20px 0 0 0;
                transition: 1s;
                li {
                    border: 1px $color-primary solid;
                    width: 29px;
                    margin: 0 0 8px 0;
                    padding: 0;
                }
                &.active-button {
                    transform: rotate(90deg) translateY(15px);
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                }
                @media (max-width: 767px) {
                    z-index: 2;
                    display: initial;
                    cursor: pointer;
                }
            }
            @media (max-width: calc($width_mobile + 340px)) {
                margin: 29px 10px 0 10px;
            }

            @media (max-width: calc($width_tablet + 250px)) {
                .logo {
                    margin-right: 20px;
                }
            }
        }
        .start {
            margin-top: 90px;
            display: flex;
            justify-content: space-between;
            .start-text {
                margin: 163px 0 0 0;
                display: flex;
                flex-direction: column;
                h1 {
                    font-size: 44px;
                    line-height: 57.2px;
                    font-weight:400;
                    @include textFont("Tinos");
                    letter-spacing: 0.04em;
                    color: $color-light-xl;
                    margin: 0 0 42px 0;
                    width: 310px;
                }
                p {
                    font-size: 15px;
                    line-height: 24px;
                    @include textFont("Arimo");
                    color: $color-dark-s;
                    margin: 0 0 57px 0;
                    min-width: 460px;
                }
                .friendButton {
                    display: inline;
                    a {
                        text-decoration: none;
                        div {
                            display: inline;
                            font-size: 17px;
                            font-weight: 400;
                            line-height: 22.1px;
                            @include textFont("Tinos");
                            color: $color-dark-3xl;
                            letter-spacing: 0.10em;
                            padding: 16px 45px;
                            border-radius: 100px;
                            background-color: $color-primary;
                            &:hover {
                                background-color: $color-primary-light;
                            }
                        }
                    }
                }
            }
            img {
                width: 54.5vw;
                @media (max-width: calc($width_tablet + 250px)) {
                    align-self: flex-end;
                    margin: 114px 0 0 0;
                    width: 569px;
                }
                @media (max-width: calc($width_mobile + 300px)) {
                    align-self: flex-end;
                    margin: 120px 0 0 0;
                    width: 260px;
                }
            }
            @media (max-width: calc($width_tablet + 250px)) {
                margin-top: 60px;
                flex-direction: column;
                align-items: center;
                .start-text {
                    margin: 0 0 0 0;
                    padding: 0 17vw;
                    display: flex;
                    flex-direction: column;
                    .friendButton {
                        margin: 0 auto;
                    }
                }
            }

            @media (max-width: calc($width_tablet - 200px)) {
                .start-text {
                    padding: 0 5vw;
                    p {
                        max-width: 460px;
                    }
                }
            }
            @media (max-width: calc($width_mobile + 250px)) {
                margin: 60px 0 0 0;
                flex-direction: column;
                align-items: center;
                .start-text {
                    margin: 0 0 0 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .friendButton {
                        margin: 0 auto;
                    }
                    h1 {
                        display: inline;
                        max-width: 200px;
                        font-size: 25px;
                        line-height: 32.5px;
                        letter-spacing: 0.10em;
                        width: auto;
                        text-align: center;
                        margin: 0 0 41px 3px;

                    }
                    p {
                        max-width: 460px;
                        min-width: 300px;
                        font-size: 15px;
                        line-height: 24px;
                        text-align: center;
                        margin: 0 0 58px 0;
                    }
                }
            }

        }
    }
    &.pets-page {
        background: $color-light-xl;
        .container {
            display: flex;
            flex-direction: column;
            .nav-panel {
                display: flex;
                justify-content: space-between;
                margin: 30px 0 30px 0;
                .logo {
                    display: flex;
                    flex-direction: column;
                    .title {
                        color: $color-dark-l;
                        @include textFont("Tinos");
                        font-size: 2rem;
                        line-height: 35.2px;
                        letter-spacing: 0.09em;
                        margin: 0 0 10px 0;
                    }
                    .subtitle {
                        color: $color-dark-3xl;
                        @include textFont("Arimo");
                        font-size: 13px;
                        line-height: 14.95px;
                        letter-spacing: 0.1em;
                        margin: 0 0 0 4px;
                    }
                }
                .nav-list{
                    display: flex;
                    list-style: none;
                    @include textFont("Arimo");
                    letter-spacing: initial;
                    padding: 0;
                    margin: 16px 2px 0 0;
                    .nav-link {
                        text-decoration: none;
                        color: $color-dark-l;
                        font-size: 15px;
                        line-height: 24px;
                        cursor: pointer;
                        margin: 0 0 0 35px;
                        padding: 0 0 4px 0;
                        &:hover {
                            color: $color-dark-3xl;
                        }
                    }
                    .active-link {
                        color: $color-dark-3xl;
                        border-bottom: 3px $color-primary solid;
                        cursor:auto;
                    }
                    @media (max-width: 767px) {
                        position: fixed;
                        right: -100%;
                        bottom: 0%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        order: 3;
                        width: 320px;
                        height: 100vh;
                        background-color: $color-light-xl;
                        li {
                            margin: 0 0 40px 0;
                            padding: 0 0 0 0;
                            .nav-link {
                                margin: 20px 40px 0 40px;
                                padding: 0;
                            }
                        }
                        &.active-menu {
                            right: 0;
                        }
                    }
                }
                @media (max-width: 767px) {
                    margin: 30px 10px 30px 10px;
                    .nav-button {
                        li {
                            border: 1px #000000 solid;
                        }
                    }
                }   
            }
        }
    }
}
