@use 'abstracts' as *;
.about {
    background-color: $color-light-xl;
    .container {
        margin-top: 80px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 300px;
            margin: 0 120px 0 0;
        }
        h2 {
            color: $color-dark-l;
            font-size: 35px;
            font-weight: 400;
            line-height: 45.5px;
            letter-spacing: 0.10em;
            @include textFont("Tinos");
            width: 370px;
            margin: 0;
        }
        p {
            color: $color-dark-xl;
            font-size: 15px;
            line-height: 24px;
            @include textFont("Arimo");
            width: 430px;
            margin: 25px 0 0 0;
        }
        @media (max-width: $width_tablet) {
            flex-direction: column;
            img {
                margin: 80px 0 0 0;
                order: 2;
            }
        }
        @media (max-width: calc($width_mobile + 100px)) {
            margin: 42px auto;
            h2 {
                font-size: 25px;
                line-height: 32.5px;
                width: auto;
                text-align: center;
                margin-bottom: 3px;
            }
            p {
                width: auto;
                text-align: justify;
                margin: 22px 15px 0 15px;
            }
            img {
                margin: 42px 0 0 0;
                width: 260px;
            }
        }
    }
    
}