@use 'abstracts' as *;
.pets {
    background-color: $color-light-l;
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        h2 {
            color: $color-dark-l;
            @include textFont("Tinos");
            font-size: 35px;
            font-weight: 400;
            line-height: 45.5px;
            letter-spacing: 0.1em;
            margin: 80px 0 0 0;
            @media (max-width: calc($width_mobile + 80px)) {
                margin: 42px 0 0 0;
                font-size: 25px;
                line-height: 32.5px;
            }
        }
        .pet-cards-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 60px 0 0 0;
            .pet-card {
                box-sizing: border-box;
                width: 270px;
                border-radius: 9px;
                background-color: $color-light-s;
                cursor: pointer;
                img {
                    margin: 0 0 25px 0;
                }
                p {
                    font-size: 20px;
                    line-height: 22.72px;
                    @include textFont("Tinos");
                    letter-spacing: 0.1em;
                    color: $color-dark-l;
                    margin: 0 0 30px 0;
                }
                .learn-more-button {
                    border: 2px solid $color-primary;
                    border-radius: 100px;
                    background-color: $color-light-s;
                    margin: 0 0 30px 0;
                    &:hover {
                        background-color: $color-primary-light;
                    }
                    font-size: 17px;
                    line-height: 24.1px;
                    @include textFont("Tinos");
                    letter-spacing: 0.1em;
                    color: $color-dark-l;
                    padding: 12px 39px;
                }
                &:hover {
                    background-color: $color-light-xl;
                }
                @media (max-width: calc($width_tablet + 200px)) {
                    &.tablet-dispay {
                        display: none;
                    }
                }
                @media (max-width: calc($width_mobile + 350px)) {
                    &.mobile-display {
                        display: none;
                    }
                }
                
            }
            .arrow-button {
                border: 2px solid $color-primary;
                background-color: $color-light-l;
                height: 52px;
                width: 52px;
                border-radius: 100px;
                padding: 0 0 5px 0;
                margin: 0 -38px 0 0;
                &.right {
                    transform: rotate(180deg);
                    margin: 0 0 0 -38px;
                }
                &:hover {
                    background-color: $color-primary-light;
                }
                @media (max-width: $width_tablet) {
                    margin: 0 -27px 0 0;
                    &.right {
                        margin: 0 0 0 -27px;
                    }
                }
            }

            @media (max-width: calc($width_mobile + 350px)) {
                margin: 42px 0 0 0;
                flex-direction: column;
                .arrow-button {
                    order: 2;
                    margin: 20px 132px 0 0;
                    &.right {
                        margin: -52px 0 0 132px;
                    }
                }
            }

        }
        .to_pets_button {
            display: inline;
            margin: 75px 0 115px 0;
            a {
                text-decoration: none;
                div {
                    display: inline;
                    font-size: 17px;
                    line-height: 23.1px;
                    @include textFont("Tinos");
                    letter-spacing: 0.1em;
                    color: $color-dark-3xl;
                    padding: 16px 45px;
                    border-radius: 100px;
                    background-color: $color-primary;
                    &:hover {
                        background-color: $color-primary-light;
                    }
                }
            }
            @media (max-width: calc($width_mobile + 80px)) {
                margin: 57px 0 57px 0;
            }
        }
    }
    &.pets-page {
        .container {
            display: flex;
            flex-direction: column;
            h2 {
                letter-spacing: 0.102em;
            }
            .pet-cards-area {
                display: flex;
                justify-content: space-between;
                row-gap: 30px;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 60px;
                @media (max-width: calc($width_tablet + 80px)) {
                    justify-content: center;
                    column-gap: 40px;
                    margin-bottom: 40px;
                }
                @media (max-width: calc($width_mobile + 80px)) {
                    justify-content: center;
                    row-gap: 25px;
                    margin-bottom: 42px;
                }
                .pet-card {
                    @media (max-width: calc($width_tablet + 80px)) {
                        &.tablet-dispay {
                            display: none;
                        }
                    }
                    @media (max-width: calc($width_mobile + 80px)) {
                        &.mobile-display {
                            display: none;
                        }
                    }
                }
            }
            .list-buttons {
                display: flex;
                justify-content: center;
                margin: 0 0 100px 0;
                button {
                    border: 2px solid $color-primary;
                    background-color: $color-light-l;
                    color: $color-dark-3xl;
                    height: 52px;
                    width: 52px;
                    border-radius: 100px;
                    margin: 0 10px 0 10px;
                    span {
                        @include textFont("Tinos");
                        letter-spacing: 0.1em;
                        font-size: 20px;
                        line-height: 23px;
                        padding: 0px 0 0 2px;
                    }
                    &.inactive {
                        border: 2px solid $color-dark-s;
                        color: $color-dark-s;
                        cursor:default;
                        &:hover {
                            background-color: inherit;
                        } 
                    }
                    &:hover {
                        background-color: $color-primary-light;
                    }
                }
                .list-counter {
                    border: 2px solid $color-primary;
                    background-color: $color-primary;
                    color: $color-dark-3xl;
                    @include textFont("Tinos");
                    letter-spacing: 0.1em;
                    font-size: 20px;
                    line-height: 23px;
                    height: 49px;
                    width: 49px;
                    border-radius: 94px;
                    margin: 0 10px 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width: calc($width_tablet + 200px)) {
                    margin-bottom: 76px;
                }
                @media (max-width: calc($width_mobile + 200px)) {
                    margin: 0 -5.5px 42px -5.5px;
                    button {
                        margin: 0 5px 0 5px;
                    }
                    .list-counter {
                        margin: 0 5px 0 5px;
                    }
                }
            }
        }
    }
}